.book-item {
  display: flex;
  margin-bottom: 20px;
}
.book-img {
  flex-shrink: 0;
  width: 150px;
  display: block;
  margin-right: 20px;
}
.book-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.book-title {}
.book-price {}
.book-author {
  opacity: 0.5;
}
