.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.logo-text-dark {
  font-size: 40px;
  font-family: 'Playfair display', Georgia, serif;
  color: #000;
}
.basket {

}
